@model IEnumerable<KurumsalWeb.Models.Slider>
@{
    Layout = null;
}
<div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animated fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="" class="btn-get-started animated fadeInUp">Read More</a>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="carousel-item ">
            <div class="carousel-container">
                <h2 class="animated fadeInDown"><span>@item.Title</span></h2>
                <p class="animated fadeInUp">  @Html.Raw(item.Description)</p>
                <a href="" class="btn-get-started animated fadeInUp">Read More</a>
            </div>
        </div>

    }
    <!-- Slide 1 -->

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>